html {
  font-size: 18px;

}
/*Body section*/


  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 1.5rem;

body {

}
/*header section*/

#logo {
  height: 32px;


}

#colmar {
  font-weight: 900;
}

header {
  display: flex;
  font-family: "Lato", "Helvetica", sans-serif;
  flex-direction: row;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;

  }

.name {
  margin: auto 0;
  font-size: 1.5rem;
  padding-left: 0.3rem
}
.logo {
    display: inline-flex;
    margin-left: 24px;
}

nav {
  display: flex;
  font-size: 1rem;
  margin: auto 24px;
  height: inherit;
  align-items: center;

}

.topnav a {
  margin-left: 8px;
  }

.topnav a:hover {
  border-bottom: 3px solid #524632;
}

/*content section*/

/*general conf */

h1 {
  display: block;
  font-family: "lato", "helvetica", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;

}

h3 {
  display: block;
  font-family: "lato", "helvetica", sans-serif;
  font-size: 1rem;
  font-weight: 400;
;
}

p {
  display: block;
  font-family: "roboto", "helvetica", sans-serif;
  font-size: 0.75rem;
  line-height: 1.5;
}


a {
  font-family: "roboto", "helvetica", sans-serif;
  font-size: 0.75rem;
  line-height: 1.5;
}


/*section one*/

.sectionone {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #c3c49e;
}

.sec1banner {
  display: flex;
  box-sizing: border-box;
  width: 60%;
  padding: 32px 24px;
}

.sec1banner img {

  width: 100%;
  height: 100%
}

aside {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;

}


.button {
  background-color: #8f7e4f;
  border: 2px solid none;
  border-radius: 5px;
  color: white;
  padding: 8px;
  text-align: center;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
  margin: 0.75rem auto;
}

.button:hover {
  background-color: #c3c49e;
  border: 2px solid #ffffff;
  color: #8f7e4f;
  transition: all 0.5s;


}

/* section two and second column of section four */

.sectiontwo {
  display: flex;
  flex-direction: row;
  margin: 32px 0;
  background-color: #ffffff;
}

.s2column1 {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  box-sizing: border-box;
  padding: 0 24px;
  align-content: space-around;

}

.sectiontwo img {
  width: 100%;
  height: 100%;


  }

.s2column1 .text h1 {
  margin: 32px 0px 24px 0px;
}

.s2column1 .text p {
  padding-bottom: 4px
}
  .sec1banner {
    display: flex;
    width: 60%;
    padding: 32px 24px;
  }

.minitext {
  box-sizing: border-box;
  padding: 32px 0 24px 0;
}

#footnote {
  display: inline;
  vertical-align: text-bottom;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 0.6rem;
  font-weight: bold;

}

.s2column2 {
  display: flex;
  flex-direction: column;
  width: 40%;

}

.s2c2rows:hover {
  background-color: #c3c49e;
}

.s2c2rows {
  display: flex;
  flex-direction: row;
  border: 0.25px solid #c3c49e;
  align-items: center;

  }

.square {
  box-sizing: border-box;
  width: 35%;
  padding: 16px;


}

.square img {
  display: flex;
  width: 100%;
  align-items: center;


}

.minicolumn {
  display: flex;
  flex-direction: column;
  width: 65%;

}

.minicolumn a {
  color: #8f7e4f;
  padding-top: 8px;

}

.minicolumn a:hover {
  color: #ffffff;

}

.minicolumn h3 {
  padding-bottom: 8px;
}


/*Section Three*/

.sectionheader {
  display: block;
  margin: 32px 0px 0px 0px;
  text-align: center;
}
.sectionthree  {
  display:flex;
  width: 100%;
  background-color:#c3c49e;
  display: flex;
  justify-content: center;
}

.maingrid {
  display: flex;
  flex-direction: column;

}

.gridline {
  display: flex;
  flex-direction: row;
  margin: 0 56px;

}
.grid {
  display: flex;
  flex-direction: column;
  font-family: "lato", "helvetica", sans-serif;
  width: 33.333333333%;
  height: auto;
  margin: 32px 16px;
  background-color: #ffffff;

}

.grid img {
  width: 100%;
  height: auto;

}

.gridtext {
  margin: 8px 16px;

}

.grid h3 {
  font-weight: 900;
  margin-top: 16px;
}

/* Section four*/
.sectionfour {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
}

.s4column1 {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  box-sizing: border-box;
  padding: 0 24px;
  align-content: space-around;
}

.s4column1 .text h1 {
  margin: 24px 0px 8px 0px;
}

.s4column1 .text p {
  margin-bottom: 32px;
}
video {
  width: 100%;
  height: 100%;

}


.s4column2 {
  display: flex;
  flex-direction: column;
  width: 40%;

}

.s4c2rows:hover {
  background-color: #c3c49e;
}

.s4c2rows {
  display: flex;
  flex-direction: row;
  align-items: center;

  }


/*footer section*/

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-family: "roboto", "helvetica", sans-serif;
  font-size: 0.75rem;
  border-top: 0.25px solid #c3c49e;
  padding: 16px 24px;
}



@media only screen and (min-width: 701px) {
  .query  {
    display: none;
  }

  #media2 {
    display: none;
  }

  .gridlist {
    display: none;
  }
}

@media only screen and (max-width: 700px) {

header {
  width: 100%
}

.headnav {
  width: 100%;

}

.query {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 64px;

}

.topnav {
  display: none;
}

.logo {
  display: none;
}

  .sectionone {
    display: flex;
    flex-direction: column;

 }

 .sec1banner {
   display: flex;
   width: 100%;
   padding: 0;
   margin: 0;
 }

 aside {
   display: flex;
   width: auto;
   flex-direction: column;
   justify-content: flex-start;

 }

 .minitext {
   margin: 0px 0px 32px 0px;
   padding: 0px;
 }
 .maintext {
   box-sizing: border-box;
   padding: 0;
   margin: 32px 16px;
 }

 .button {
   margin: 24px 16px 0px 0px;
   width: auto;
 }


#media1 {
  display: none;
}
 .sectiontwo {
  width: auto;
  margin: 0px 16px;
  }

.s2column1 {
  display: none;

}

.s2column2, .s2c2rows {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;

}

.s2column2 {
  margin: 16px 0px 32px 0px;
}

.minicolumn {
  margin: 0;
  padding-left: 16px;
  width: 100%;
  margin: 32px 0px;
}

.gridline {
     display:none;
   }

   .square {
     box-sizing: border-box;
     width: 100%;
     padding: 0px;


   }

   .square img {
     display: flex;
     width: 100%;
     align-items: center;


   }

.sectionthree {
   width: 100%;

}

.sectionheader {
  padding: 0px 16px;
  margin: 32px 0px 16px 0px;

}
.maingrid {
  width: 100%;
}
.gridlist {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: -8px 0px 32px 0px;

  }

.gridlist a {
  display: flex;
  align-items: center;
  font-family: roboto;
  font-size: 1rem;
  padding: 16px 0px 24px 16px;
  width: auto;
  color: #ffffff;
  font-weight: 400;
  background-color: #8f7e4f;
  margin: 8px 16px 0px 16px;
}


.sectionfour {
  display: flex;
  width: 100%;


}


#text4 {
  display: none;

}

.s4column2 {
  display: none;
}

.s4column1 {
  width: 100%;
  padding: 0px;
  margin-bottom: 24px;
}

.bottomnav {
  display: none;

  }

footer {
  border-top: none;
}

}
